:root {
    font-size: medium !important;
    color: #ffffff !important;
    --tooltipSize: small !important;
    text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
}

.Panel {
    flex-direction: column !important;
    align-items: stretch !important;
}

.Panel > :not(:first-child) {
    margin-top: 0.2rem !important;
}


.card {
    padding-top: 0.5rem !important;
    padding-bottom: 0.6rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: rgba(5, 5, 10, 0.83) !important;
    border-radius: 0.5rem/0.5rem !important;
}

.smallCard {
    padding-top: 0.18rem !important;
    padding-bottom: 0.33rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    background-color: rgba(5, 5, 10, 0.83) !important;
    border-radius: 0.5rem/0.5rem !important;
}

.card-blur {
    padding: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(5, 5, 10, 0.8) !important;
}
.card-opaque {
    padding: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;
}

.card-text {
    background-color: transparent !important;
    /* transform: translate(-50%, -50%) !important; */
    transform: translateY(-50%) !important;
    padding: 0 !important;
    margin: 0 !important;
}


body {
    margin: 0;
    color: #eeeeee;
    background: rgba(5, 5, 10, 0.83);
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 0;
    margin: 1px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #979797 !important;
    text-decoration: none !important;
}
a:link {
    color: #979797 !important;
}
a:hover {
    color: #ffffff !important;
}


.Tooltip {
    position: relative !important;
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Tooltip text */
.Tooltip .Tooltiptext {
    font-size: var(--tooltipSize);
    visibility: hidden !important;
    background-color: rgba(5, 5, 10, 0.83) !important;
    color: #ffffff !important;
    text-align: center !important;

    border-radius: 0.5rem 0.5rem 0 0 !important;    
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0.5rem 1rem !important;
    
    position: fixed !important;
    bottom: 0 !important;
    left: 190px !important;
    min-width: 10rem !important;
    max-width: calc(100vw - 7rem) !important;

}

/* Show the tooltip text when you mouse over the tooltip container */
.Tooltip:hover .Tooltiptext {
    visibility: visible !important;
}


/* MENU BUTTON */
.Button-menu {
    font: inherit !important;
    border: none !important;
    border-radius: 0.4rem/0.4rem !important;
    padding: 0.325rem 0.75rem !important;
    margin: 0 !important;
    background-color: rgba(5, 5, 10, 0.90) !important;
    color: #d9d9d9 !important;
}
.SmallButton-menu {
    font: inherit !important;
    border: none !important;
    border-radius: 0.4rem/0.4rem !important;
    padding: 0.19rem 0.3rem !important;
    margin: 0 !important;
    background-color: rgba(5, 5, 10, 0.90) !important;
    color: #d9d9d9 !important;
}
/* Hover */
.SmallButton-menu:hover,
.Button-menu:hover {
    color: #ffffff !important;
}

/* SMALL WHITE MENU BUTTON */
.Button-icon {
    font-size: 16px !important;
    border: none !important;
    border-radius: 10rem/10rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0.12rem !important;
    padding-right: 0.12rem !important;
    margin: 0 !important;
    background-color: transparent !important;
    color: transparent !important;
}
/* Hover */
.Button-icon:hover {
    background-color: rgba(180, 180, 180, 0.30) !important;
}


/* INFO BUTTON */
.Button-info {
    font-size: 25px !important;
    border: none !important;
    border-radius: 0.4rem/0.4rem !important;
    padding-top: 0.65rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0.7rem !important;
    padding-right: 0rem !important;
    margin: 0 !important;
    background-color: transparent !important;
    color: transparent !important;
}
/* Hover */
.Button-info:hover {
    background-image: url("INRAEback.svg") !important; /* The image used */
    background-color: transparent !important; /* Used if the image is unavailable */
    background-repeat: no-repeat !important; /* Do not repeat the image */
    background-size: cover !important;
}


/* MASK BUTTON */
.maskButton-menu {
    font: inherit !important;
    border: none !important;
    border-radius: 0.4rem/0.4rem !important;
    padding: 0.325rem 0.75rem !important;
    margin: 0 !important;
    background-color: rgba(5, 5, 10, 0.8) !important;
    color: transparent !important;
}
.maskSmallButton-menu {
    font: inherit !important;
    border: none !important;
    border-radius: 0.4rem/0.4rem !important;
    padding: 0.19rem 0.3rem !important;
    margin: 0 !important;
    background-color: rgba(5, 5, 10, 0.8) !important;
    color: transparent !important;
}
.maskButton-info {
    font-size: 25px !important;
    border: none !important;
    border-radius: 0.4rem/0.4rem !important;
    padding-top: 0.65rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0.7rem !important;
    padding-right: 0rem !important;
    margin: 0 !important;
    background-color: transparent !important;
    color: transparent !important;
}


/* PANEL BUTTON */
.Button {
    font: inherit !important;
    border: none !important;
    border-radius: 0.25rem/0.25rem !important;
    min-width: 2rem !important;
    padding: 0 0.5rem !important;
    margin: 0 !important;
    background-color: transparent !important;
    cursor: pointer !important;
    color: #979797 !important;
    touch-action: manipulation !important;
}
/* Hover */
.Button:hover {
    color: #ffffff !important;
    background-color: transparent !important;
}
/* Selected */
.Button.selected {
    color: #e7ca7a !important;
    background: #474747 !important;
}


/* RADIO BUTTON */
.btn-selectButton,
.btn-radioButton {
    font: inherit !important;
    border: none !important;
    border-radius: 0.25rem/0.25rem !important;
    min-width: 2rem !important;
    padding: 0 0.5rem !important;
    margin: 0 !important;
    background-color: transparent !important;
    cursor: pointer !important;
    color: #979797 !important;
    touch-action: manipulation !important;
}
/* Hover */
.btn-selectButton:hover,
.btn-radioButton:hover {
    color: #ffffff !important;
    background-color: transparent !important;
}
/* Selected */
.btn-selectButton.active,
.btn-radioButton.active {
    color: #e7ca7a !important;
    background: #474747 !important;
}


/* ROW */
/* Row */
.Row {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
}
.Row > .sep {
    align-self: stretch !important;
}
/* Separator */
.sep {
    display: inline !important;
    margin: 0.1rem 0.5rem !important;
    /* border-left: 2px solid #bbb; */
    /* border-top: 1px solid #bbb; */
    border-left: 2px solid #43494c !important;
    border-top: 1px solid #43494c !important;
}
/* Row label */
.row-label {
    word-break: keep-all !important;
    color: #eeeeee !important;
} 


/* GROUP OF BUTON */
.bunch {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    /* align-items: baseline !important; */
    margin: -1px !important;

}

.bunch > * {
    margin: 1px !important;
}

.bunch > .bunch {
    margin: 0 !important;
}

.bunch > a {
    display: inline-block !important;
    min-width: 1rem !important;
    padding: 0 0.5rem !important;
    text-align: center !important;
}


/* SEARCH BAR */
/* Bar */
.selectize-input {
    border: 1px solid #43494c !important;
    width: 330px !important;
    /* padding-bottom: 1rem!important; */
    margin-top: 0.25rem !important;
    margin-bottom: -0.8rem !important;
    margin-left: 0 !important;
    color: #979797 !important;
    background: #181a1b !important;
}
/* Name in bar */
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #979797;
}
/* Dropdown */
.selectize-dropdown {
    color: #979797 !important;
    background: #181a1b !important;
}
/* Dropdown Active */
.selectize-dropdown-content .active {
    background: #43494c !important;
    color: #ffffff !important;
}
/* Multi search item */
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  background: #474747;
  color: #e7ca7a;
  border: 0px solid #474747;
}
/* Multi search item selected */
.selectize-control.multi .selectize-input > div.active {
  background: #474747;
  color: #e7ca7a;
  border: 1px solid #e7ca7a;
}
/* Search highlight key word */
.selectize-dropdown [data-selectable] .highlight {
  background: #e7ca7a;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}


/* SLIDER */
.irs {
    margin-top: -12px;
    margin-bottom: -8px;
}
/* Selection bar */
.irs-bar {
    height: 5px !important;
    background: #979797 !important;
    border-top: 0px solid transparent !important;
    border-bottom: 0px solid transparent !important;
}
.textSlider .irs-bar {
    height: 5px !important;
    background: #474747 !important;
    border-top: 0px solid transparent !important;
    border-bottom: 0px solid transparent !important;
}

/* Base line */
.irs-line {
    height: 5px !important;
    background: #474747 !important;
    border: 0px solid transparent !important;
    border-radius: 5px !important;
}
/* Bottom text */
.irs-grid-text {
    /* font-family: 'arial' !important; */
    color: #979797 !important;
    position: absolute !important;
    bottom: 15px !important;
    white-space: nowrap !important;
    text-align: center !important;
    font-size: 9px !important;
    line-height: 9px !important;
    padding: 0 3px !important;
}
/* Major grid */
.irs-grid-pol {
    background: #979797 !important;
    top: -3px !important;
    width: 1px !important;
    height: 5px !important;
}
.textSlider .irs-grid-pol {
    background: transparent !important;
}

/* Minor grid */
.irs-grid-pol.small {
    background: #979797 !important;
    height: 0px !important;
}
/* Max label */
.irs-max {
    /* font-family: 'arial' !important; */
    background: transparent !important;
    color: transparent !important;
}
/* Min label */
.irs-min {
    /* font-family: 'arial' !important; */
    background: transparent !important;
    color: transparent !important;
}
/* Slider label */
.irs-from,
.irs-to,
.irs-single {
    color: transparent !important;
    background: transparent !important;
}
/* Handle */
.irs-handle {
    width: 14px !important;
    height: 14px !important;
    top: 21px !important;
    color: transparent !important;
    background: #979797 !important;
    position: absolute !important;
    display: block !important;
    box-sizing: border-box !important;
    cursor: default !important;
    border: 0px solid transparent !important;
    box-shadow: 0px 0px 0px transparent !important;
}

/* Handle hover */
.irs-handle.state_hover,
.irs-handle:hover {
    color: transparent !important;
    background: #b3b3b3 !important;
    border: 0px solid transparent;
}


